{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Add new photo</title>
    <link rel="stylesheet" href="{% static 'css/style_add.css' %}" type="text/css">
    <script>
//     class PhotoSubmission {
//     constructor() {
//         const inputs = document.querySelectorAll('.js-photo_submit-input');

//         for (var i = 0; i < inputs.length; i++) {
//             inputs[i].addEventListener('change', this.uploadImage);
//         }
//     }

//     uploadImage(e) {
//         const fileInput = e.target;
//         const uploadBtn = fileInput.parentNode;
//         const deleteBtn = uploadBtn.childNodes[7];

//         const reader = new FileReader();

//         reader.onload = function(e) {
//             uploadBtn.setAttribute('style', `background-image: url('${e.target.result}');`);
//             uploadBtn.classList.add('photo_submit--image');
//             fileInput.setAttribute('disabled', 'disabled');
//         };

//         reader.readAsDataURL(e.target.files[0]);

//         deleteBtn.addEventListener('click', () => {
//             uploadBtn.removeAttribute('style');
//             uploadBtn.classList.remove('photo_submit--image');
            
//             setTimeout(() => {
//                 fileInput.removeAttribute('disabled', 'disabled');
//             }, 200);
//         });
//     }
// };

// new PhotoSubmission;
    </script>
</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'gallery' %}" class="btn btn-outline-danger my-3">Geri</a>
                <div class="card">
                    
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label >Təsvir :</label>
                            <input name="description" type="text" placeholder="Şəkil üçün təsvir yaz..." class="form-control" >
                        </div>

                        <div class="form-group m-3 secim">
                            <div class="wrapper">
                                <div class="photo_submit-container">
                                    <div class="photo_submit-container">
                                        <label class="photo_submit js-photo_submit1">
                                            <input class="photo_submit-input js-photo_submit-input" name='image' type="file" accept="image/*">
                                            <span class="photo_submit-plus"></span>
                                            <span class="photo_submit-uploadLabel">Upload photo</span>
                                            <span class="photo_submit-delete"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary m-3 btn-block">
                            Əlavə et
                        </button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>








